@model MvcApplication3_mvc4.Book
@using MvcApplication3_mvc4.Resources;

@{
    ViewBag.Title = "CreateBook";
}

<h2>@Resources.CreateBook</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Book</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.note)
            @Html.ValidationMessageFor(model => model.note)
        </div>

        <p>
            <input type="submit" value="@Resources.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@Resources.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}