@model MvcApplication3_mvc4.Book
@using MvcApplication3_mvc4.Resources;

@{
    ViewBag.Title = @Resources.DeleteABook;
}

<h2>@Resources.DeleteABook</h2>

<h3>@Resources.AreYousureYouWantToDeleteThis</h3>
<fieldset>
    <legend>Book</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.note)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="@Resources.Delete" /> |
        @Html.ActionLink(@Resources.BackToList, "Index")
    </p>
}