@model MvcApplication3_mvc4.Models.SearchBook
@using MvcApplication3_mvc4
@using PagedList;
@using PagedList.Mvc;
@using MvcApplication3_mvc4.Models;
@using MvcApplication3_mvc4.Resources;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = @Resources.ListBooksSearch;
    var actionName = "ListBooksSearch";
}

<h2>@Resources.ListBooksSearch</h2>

<p>
    @Html.ActionLink(@Resources.CreateNew, "CreateBook")
</p>

@using (Html.BeginForm())
{
    <p>
        Nom: @Html.TextBoxFor(model => model.NameSearch)
        <input type="submit" value="Rechercher" />
    </p>
}

<table>
    <tr>
        <th>
            @Resources.Name
        </th>
        <th>
            @Resources.Note
        </th>
        <th></th>
    </tr>

    @foreach (Book item in Model.BooksList)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => item.name)
            </td>
            <td>
                @Html.DisplayFor(i => item.note)
            </td>
            <td>
            </td>
        </tr>
    }
</table>

@(Model.BooksList.PageCount < Model.BooksList.PageNumber ? 0 : Model.BooksList.PageNumber) @Resources.of @Model.BooksList.PageCount

@Html.PagedListPager(Model.BooksList, page => Url.Action(actionName, new { NameSearch = Model.NameSearch, Page = page }))

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).on('keyup', function (evt)
    {
        if (evt.key == "Escape")
        {
            window.location.href = "@Url.Action("Index", "Home")";
        }

        @if (Model.BooksList.HasPreviousPage)
        {
            <text>
            if (evt.key == "ArrowLeft")
            {
                window.location.href = "@Url.Action(actionName, new { Page = Model.Page - 1})";
            }
            </text>
        }

       @if (Model.BooksList.HasNextPage)
        {
            <text>
            if (evt.key == "ArrowRight")
            {
                window.location.href = "@Url.Action(actionName, new { Page = (Model.Page == 0 ? 2 : Model.Page + 1)})";
        }
            </text>
        }

        if (evt.key == "Home")
        {
            window.location.href = "@Url.Action(actionName)";
        }

        if (evt.key == "End")
        {
            window.location.href = "@Url.Action(actionName, new { Page = Model.BooksList.PageCount})";
        }
    });
</script>