@model IEnumerable<ReceiptsWeb.Models.GroupProducts>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div class="modal fade" id="pricesModal" tabindex="-1" role="dialog" aria-labelledby="pricesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content isResizable">
            <div class="modal-header draggable_touch">
                <h5 class="modal-title" id="pricesModalLabel">Prices history</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="partialPrices"></div>
            </div>
        </div>
    </div>
</div>

<form asp-action="GroupProducts" method="get">
    <div class="form-actions no-color">
        <p>
            Filter by group : <select name="filterGroup" asp-items="@ViewBag.GroupList"></select>
        </p>
        <p>
            Find by name: <input type="text" id="SearchStringAutocomplete" name="SearchString" value="@ViewData["CurrentFilter"]" autocomplete="off" />
        </p>
        <p>
            Sort by : <select name="sort" asp-items="@ViewBag.GroupProductsSortList"></select>
        </p>

        <input type="submit" value="Search" />
        <a class= "btn" asp-action="GroupProducts">Clear</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricesCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Min)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max)
            </td>
            <td>
                @item.MinDate.ToShortDateString()
            </td>
            <td>
                @item.MaxDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceRatio)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.PricesCount)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <button class="buttonAsLink displayProductsPrices" value="@item.Id">Prices</button>
            </td>
        </tr>
}
    </tbody>
</table>

<link rel="stylesheet" href="~/lib/jquery-ui/dist/css/themes/smoothness/jquery-ui.css">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/dist/js/jquery-ui.min.js"></script>
<script src="~/lib/chart/dist/js/chart.min.js"></script>

<script>
    $(document).ready(function () {
        $(".displayProductsPrices").click(function () {
            $.ajax({
                url: "/Products/GetProductPrices",
                method: "GET",
                data: { id: this.value },
                success: function (data) {
                    $("#partialPrices").html("");
                    $("#partialPrices").html(data);

                    $('#pricesModal').modal('show')
                    $(".modal-dialog").draggable({
                        cursor: "move",
                        handle: ".modal-header",
                    });
                }
            });
        });
    });
</script>

<script>
    //Live search with jquery ui autocomplete
    $(document).ready(function () {
        $("#SearchStringAutocomplete").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Products/LiveTagSearchJson",
                    type: "POST",
                    dataType: "json",
                    data: { search: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            //return { label: item.name, value: item.id };
                            return item.name;
                        }))
                    }
                })
            }
        });
    })
</script>
