@model IEnumerable<ReceiptsWeb.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="modal fade" id="pricesModal" tabindex="-1" role="dialog" aria-labelledby="pricesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pricesModalLabel">Prices history</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="partialPrices"></div>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filter by group :
            <select name="filterGroup" asp-items="@ViewBag.GroupList"></select>
        </p>
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
        </p>

        <input type="submit" value="Search" />
        <a class="btn" asp-action="GroupProducts">Clear</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @item.DateReceipt.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullData)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <button class="buttonAsLink displayProductsPrices" value="@item.Id">Prices</button>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script>
    $(document).ready(function ()
    {
        $(".displayProductsPrices").click(function ()
        {
            $.ajax({
                url: "/Products/GetProductPrices",
                method: "GET",
                data: { id: this.value },
                success: function (data)
                {
                    $("#partialPrices").html("");
                    $("#partialPrices").html(data);

                    $('#pricesModal').modal('toggle')
                }
            });
        });
    });
</script>

