@using ReceiptsWebBlazor.Components.Pages
@inject IStringLocalizer<Resource> Localize

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReceiptsWebBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @Localize["Home"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="groupproducts">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @Localize["Group products"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @Localize["Products"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productssr">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @Localize["Products SR"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="files-download">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @Localize["Files Download"]
            </NavLink>
        </div>
   </nav>
</div>

